/* .ss{
  background-color: hsl(223.64deg 18.03% 11.96%);
} */
   p {
    text-align: center;
    /* padding: 30px 0px; */
    color: #fff;
    font-weight: 300;
  }
  
   p a {
    color: #fff;
    transition: all .3s;
  }
  
   /* p a:hover {
    color: #ec6090;
  } */